# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea/
/Algorithm/target/
/Algorithm/Algorithm.iml
/DataStructures/DataStructures.iml
/nio/nio.iml
/nio/target/
/Elasticsearch/target/
/HDFSClient/HDFSClient.iml
/interview/target/classes/com/interview/App.class
/HDFSClient/target/test-classes/com/weiweiyang/AppTest.class
/interview/target/test-classes/com/interview/AppTest.class
/interview/src/test/java/com/interview/AppTest.java
/spring-demo/target/classes/bean1.xml
/spring-demo/target/classes/com/springdemo/demo1/Config.class
/spring-demo/target/classes/com/springdemo/demo1/DemoBeanPostProcessor$1.class
/spring-demo/target/classes/com/springdemo/demo1/DemoBeanPostProcessor.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writable/FlowBean.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writableComparable/FlowBean.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writable/FlowDriver.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writableComparable/FlowDriver.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writable/FlowMapper.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writableComparable/FlowMapper.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writable/FlowReducer.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writableComparable/FlowReducer.class
/HDFSClient/target/classes/com/weiweiyang/HdfsClient.class
/HDFSClient/target/classes/inputword/hello.txt
/interview/interview.iml
/HDFSClient/target/classes/log4j.properties
/HDFSClient/target/classes/com/weiweiyang/mapreduce/outputformat/LogOutPutFormat.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/outputformat/LogRecordWriter.class
/spring-demo/target/classes/com/springdemo/mybatis/MybatisApplication.class
/HDFSClient/target/classes/inputflow/phone_data.txt
/HDFSClient/target/classes/com/weiweiyang/mapreduce/writable/ProvincePartitioner.class
/spring-demo/spring-demo.iml
/spring-demo/target/classes/com/springdemo/test/TestSpring5.class
/spring-demo/target/classes/com/springdemo/demo1/User.class
/spring-demo/target/classes/com/springdemo/mybatis/factory/UserBeanDefinitionRegistrar.class
/spring-demo/target/classes/com/springdemo/mybatis/factory/UserFactoryBean$1.class
/spring-demo/target/classes/com/springdemo/mybatis/factory/UserFactoryBean.class
/spring-demo/target/classes/com/springdemo/demo1/UserInterface.class
/spring-demo/target/classes/com/springdemo/mybatis/mapper/UserMapper.class
/spring-demo/target/classes/com/springdemo/demo1/UserService.class
/spring-demo/target/classes/com/springdemo/mybatis/service/UserService.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/Wanwan.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/combiner/WordCountCombiner.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/combiner/WordcountDriver.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/wordcount/WordcountDriver.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/combiner/WordcountMapper.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/wordcount/WordcountMapper.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/combiner/WordcountReducer.class
/HDFSClient/target/classes/com/weiweiyang/mapreduce/wordcount/WordcountReducer.class
/spring-demo/target/classes/com/springdemo/mybatis/factory/UserBeanDefinitionRegistrar$1.class
/spring-demo/target/classes/com/springdemo/mybatis/factory/UserBeanDefinitionScanner.class
/HDFSClient/target/
/Elasticsearch/target/
/JUC/target/
